# Ignore source files
src/
test/
*.ts
*.map

# Ignore build output except compiled JS
out/**/*.js
!out/extension.js

# Ignore node modules except needed runtime dependencies
# Exclude all of node_modules **except** runtime deps needed by node-fetch
node_modules/**
!node_modules/node-fetch/**
!node_modules/whatwg-url/**
!node_modules/webidl-conversions/**
!node_modules/tr46/**
!.vscode/
!.vscode-test/

# Ignore config files
.vscode/
.vscode-test/
.gitignore
npm-debug.log
yarn.lock
package-lock.json
compile-instructions.txt
